.text-l{
    text-align: left;
}
.text-c{
    text-align: center;
    line-height: 100%
}
.text-r{
    text-align: right;
}
.extend-w{
    width: 100% !important;

}
.extend-h{
    height: 100%;
}
.extend-w-h{
    width: 100%;
    height: 100%;
}
.active{
    color:#409EFF;
}
.textColor{
    color: #f56c6c;
}
.textColor:hover{
    color:#f78989;
}
.tablebgc{
    /* background: #EBEEF5 !important; */
    /* background-color: red !important; */
}